.vscode/

backend/src/main/resources/application-dev.properties
backend/src/main/resources/application.properties

backend/src/main/resources/application-local.properties

/static/

.env
.env.*
!.env.example

dsprod
# Backups
backups/*.sql
