.vscode/

backend/src/main/resources/application-dev.properties
backend/src/main/resources/application.properties

backend/src/main/resources/application-local.properties

backend/imagenes_maquinas_reconocidas
imagenes_usuarios/

/static/

.env
.env.*
!.env.example

dsprod
# Backups
backups/*.sql
